.canvas-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.aquarium-canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none; /* prevent scrolling when touching canvas */
}
